.circle{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: orange;
    border-radius: 50%;
    top: 10px;
    left: 55px;
}
.relative{
    position: relative;
}

