
.paper{
    overflow: hidden;
    margin-right: 20px;
    max-width: 25cm;
}
#paperId{
    position: absolute;
    top: 10px;
    left: 0;
}
.after{
    display: none;
    position: absolute;
    right: -30px;
    top: 0;
    width: 30px;
    height: 30px;
    background: orange;
    border: 1px solid black;
}
/* .questionBlock:hover > .after{
    display: block;
} */